<ul class="navbar-nav flex-column position-fixed">
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 1</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 2</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 3</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 4</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 5</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 6</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 7</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 8</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 9</a>
    </li>
    <li class="nav-item btn btn-link">
        <a class="nav-link" hre="#">Link 10</a>
    </li>
</ul>