<li class="list-group-item">
    <button class="btn btn-info" type="button" id="<%= options.note_id %>">
        <h4 class="text-left"><%= options.title %></h4>
        <p>
            <%= options.content %>
        </p>
    </button>
</li>